.carousel-height{
    height: 720px;
}

@media screen and (max-width: 576px) {
    
    .carousel-head-font{
        font-size: 10px;
    }
    .carousel-font{
        font-size: 5px;
    }
    .carousel-text-height{
        height: 200px;
    }
    
}
